.navBar {
  background-image: linear-gradient(white, lab(43.17% 34.84 -29.37 / 0.795));; 
  padding: 12px 18px;
  display: flex;
  flex-direction: column;   /* stack links + heading vertically */
  align-items: center; 
}

.logoIm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.Logo {
  width: 150px; /* Adjust size */
  height: 150px; /* Ensure it's a perfect circle */
  border-radius: 50%; /* Makes it round */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  object-fit: cover; /* Ensures the image fits nicely */
}

.heading {
  margin-top: 20px; /* space between image and heading */
  font-size: 24px;
  text-align: center;
  color: #333; /* Optional: set text color */
}

body {
  font-family: Arial, sans-serif;
  background: #eef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #aaa;
}
input {
  padding: 10px;
  width: 200px;
}
button {
  padding: 10px 15px;
  margin-left: 10px;
}

footer {
  background-color: #000000; /* Light gray background */
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: Arial, sans-serif;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}




